// Cores do tema
// Texto
$txt-color-primary: #e1e1e6;
$txt-color-secondary: #d3394c;

// Backgrounds
$bg-color-primary: #121214;
$bg-color-secondary: #202024;
$bg-color-third: #29292e;

//Botões
$bg-color-privaty: #5C5C5C;
$bg-color-public: #d3394c;